a:hover{
	text-decoration: none;
}


.top-buffer {
	margin-top: 20px;
}

.posting.body {
	font-size: 1.2em;
}

/* .be-comment-content {
    margin-left: 80px;
} */

.comment.attribute {
	font-weight: bold;
	font-size: 13px;
    line-height: 18px;
    /* color: #7a8192; */
    display: block;
    background: rgba(59, 52, 52, 0.2);
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}

.comment.detail {
	color: grey;
}

.comment.owner {
	font-weight: bold;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.vertical-align {
	display: flex;
	flex-direction: row;
}

.vertical-align > [class^='col-'],
.vertical-align > [class*=' col-'] {
	display: flex;
	align-items: center;
	justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

.top-buffer {
	margin-top: 20px;
}

.blank-row {
	height: 30px;
}

.query-bar {
	background-color: #eeeeee;
	padding: 5px 5px 5px 5px;
}

footer {
	padding: 0.5in;
	font-size: 11px;
	color: rgb(100, 100, 100);
}