---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YT_TOKEN>&order=relevance&part=snippet&videoId=DA8nk83xumg
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentThreadListResponse\",\n  \"etag\":
        \"wJCBPGB2MA6nr_AX929K-dPCa0o\",\n  \"nextPageToken\": \"QURTSl9pMGE4VU15TVptWnBoLUhkcno2X2NfT1R5OHYyekJFNHFkMFlHUTU3dUdWTDVabklKbFBmMXBMLWl5VUpFdFJiWjFvR21FU3NyYzZMdk1LUzFleEp2ZzRJTmZZcDdXbmJsMGJwMVZfeXdZeWFEbWItVDRFLXdNMjZKaFFHOGZvQ0ZDMFBjbVVnZWZpMjRGbEh1UGNpMllmY0VzekpleF9rSC1YaFVKdmtlbHotZHd4eHB3MHRUbU5GT3pJNFM5bkdtLUlXUmZ1Mlo2dGNxb19XNE1oSkFPRXVOQ1NSN2pkamwzRXlKV1J2M2E1VFpzMTA2OE9XOC1Oa1gyRWFnS2V2d3BoUlQ1d0VCMzNXSTc3WFRLRW55UnpqLVpSV2c1SVBJc3Q5QWpKRnVKTTNMckdobW4wZGk5WDZ3NXdSNXhlRGdPRQ==\",\n
        \ \"pageInfo\": {\n    \"totalResults\": 20,\n    \"resultsPerPage\": 20\n
        \ },\n  \"items\": [\n    {\n      \"kind\": \"youtube#commentThread\",\n
        \     \"etag\": \"3NWE0vBP0A8rO_TD9aGBZpAa7Pk\",\n      \"id\": \"UgwsMowjta0V7XwHkQJ4AaABAg\",\n
        \     \"snippet\": {\n        \"videoId\": \"DA8nk83xumg\",\n        \"topLevelComment\":
        {\n          \"kind\": \"youtube#comment\",\n          \"etag\": \"olGtwZdx0wQlVlXncM6CJGtsnlY\",\n
        \         \"id\": \"UgwsMowjta0V7XwHkQJ4AaABAg\",\n          \"snippet\":
        {\n            \"videoId\": \"DA8nk83xumg\",\n            \"textDisplay\":
        \"奖励在2020年9月仍在听的任何人\",\n            \"textOriginal\": \"奖励在2020年9月仍在听的任何人\",\n
        \           \"authorDisplayName\": \"NEW KKBOX II\",\n            \"authorProfileImageUrl\":
        \"https://yt3.ggpht.com/a/AATXAJy3wS5bCuqNEA5bkXECqL4XjJ-h4sMDrfnJl0YD=s48-c-k-c0xffffffff-no-rj-mo\",\n
        \           \"authorChannelUrl\": \"http://www.youtube.com/channel/UCBm5s_mdyER4bkx8gBRdr-w\",\n
        \           \"authorChannelId\": {\n              \"value\": \"UCBm5s_mdyER4bkx8gBRdr-w\"\n
        \           },\n            \"canRate\": true,\n            \"viewerRating\":
        \"none\",\n            \"likeCount\": 5,\n            \"publishedAt\": \"2020-09-26T08:16:30Z\",\n
        \           \"updatedAt\": \"2020-09-26T08:16:30Z\"\n          }\n        },\n
        \       \"canReply\": true,\n        \"totalReplyCount\": 0,\n        \"isPublic\":
        true\n      }\n    },\n    {\n      \"kind\": \"youtube#commentThread\",\n
        \     \"etag\": \"B8kwNe6IYMqRGjchSbuf5d4Mo7Y\",\n      \"id\": \"UgxuQd1ISLB5JISQndx4AaABAg\",\n
        \     \"snippet\": {\n        \"videoId\": \"DA8nk83xumg\",\n        \"topLevelComment\":
        {\n          \"kind\": \"youtube#comment\",\n          \"etag\": \"bX8AF0jQ8caG637NcDCWfuDrdrE\",\n
        \         \"id\": \"UgxuQd1ISLB5JISQndx4AaABAg\",\n          \"snippet\":
        {\n           [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=UgwsMowjta0V7XwHkQJ4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:41:19 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=UgxuQd1ISLB5JISQndx4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"7m92MQi0zySPAgx1i-LZ8B08NG4\",\n
        \ \"pageInfo\": {\n    \"resultsPerPage\": 20\n  },\n  \"items\": [\n    {\n
        \     \"kind\": \"youtube#comment\",\n      \"etag\": \"5KMiAwktCbjoQmA5qgXJu69xTW0\",\n
        \     \"id\": \"UgxuQd1ISLB5JISQndx4AaABAg.9DzlHiGvpQa9E8h-z437vW\",\n      \"snippet\":
        {\n        \"textDisplay\": \"厲害厲害\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\",\n
        \       \"textOriginal\": \"厲害厲害\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\",\n
        \       \"parentId\": \"UgxuQd1ISLB5JISQndx4AaABAg\",\n        \"authorDisplayName\":
        \"張語噥\",\n        \"authorProfileImageUrl\": \"https://yt3.ggpht.com/a/AATXAJwxys28PERbzrA4yof7WkaaSglamcOXdhrTdKFwRQ=s48-c-k-c0xffffffff-no-rj-mo\",\n
        \       \"authorChannelUrl\": \"http://www.youtube.com/channel/UCveuRV_jio_ivRlUhUla8sA\",\n
        \       \"authorChannelId\": {\n          \"value\": \"UCveuRV_jio_ivRlUhUla8sA\"\n
        \       },\n        \"canRate\": true,\n        \"viewerRating\": \"none\",\n
        \       \"likeCount\": 7,\n        \"publishedAt\": \"2020-09-28T09:15:52Z\",\n
        \       \"updatedAt\": \"2020-09-28T09:15:52Z\"\n      }\n    }\n  ]\n}\n"
  recorded_at: Fri, 23 Oct 2020 06:41:20 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=Ugyawnge0_pri0GhvRB4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"63hj3z65Xrkg9m4WE2XL7Z1Si6U\",\n
        \ \"pageI[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=UgyWDsEX42KEAgUKhBJ4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"LAxoW9cUFfvyHnvPnAO14sWkKuw\",\n
        \ \"pageI[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=UgxeaxmhmCtaMhDmWI14AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:41:20 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=UgzFOj2TPnJvWBYK4oF4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:41:21 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=UgxhgzwLPlhNGqza79Z4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:41:21 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=UgwH9TE0b2yLQZaTGQJ4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"MwWEVHrEtpV0MQ0fkhpiVZmBxJQ\",\n
        \ \"pageI[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=Ugw5EqDNvVlU2nr6dbB4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:41:21 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=UgyEDe5lk3vQsyC_53R4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:41:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=UgwwQPXII__60Q64qqd4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:41:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=UgzJTfRGLNrvA4t3Yq54AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"JNFVfnIKyxygaG_v1G2zP2aNRH4\",\n
        \ \"pageI[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=UgwbCHHib8v2QrqR4CB4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:41:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=UgyuNgBCGZxKEEblbW94AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:41:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=Ugz-idZ7P41GKRa4FNF4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "jfpoSAgXgJ7eYGcGJE6w83MDk7o",
    [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=UgzimtFMoBwS59vWboB4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:41:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=UgyDOSYy72B2odsmM8p4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"im41KQes3DfkbbrUzjOX_TGb3xI\",\n
        \ \"pageI[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=Ugx0Ms7t3RbN1IRzVWJ4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:41:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=Ugyj6mhzrjH1zJ-wFo94AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:41:24 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YT_TOKEN>&parentId=UgwWdynEWAo1DwpuA_J4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:41:24 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=WRONG_TOKEN&order=relevance&part=snippet&videoId=DA8nk83xumg
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT"
          }
        }
  recorded_at: Fri, 23 Oct 2020 06:41:24 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YT_TOKEN>&order=relevance&part=snippet&videoId=ffff%08
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<html><title>Error 400 (Bad Request)!!1</title></html>"
  recorded_at: Fri, 23 Oct 2020 06:41:24 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YOUTUBE_TOKEN>&order=relevance&part=snippet&videoId=ffff%08
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<html><title>Error 400 (Bad Request)!!1</title></html>"
  recorded_at: Fri, 23 Oct 2020 06:42:58 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YOUTUBE_TOKEN>&order=relevance&part=snippet&videoId=DA8nk83xumg
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentThreadListResponse\",\n  \"etag\":
        \"MNmyaNkkHHV-s1L5nF53Z_X_F[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgwsMowjta0V7XwHkQJ4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:42:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgxuQd1ISLB5JISQndx4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"7m92MQi0zySPAgx1i-LZ8B08NG4\",\n
        \ \"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=Ugyawnge0_pri0GhvRB4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"kSVjVYYwsm5AIJzpzfSWrYU3o7k\",\n
        \ \"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgyWDsEX42KEAgUKhBJ4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"QJFswT15WTiYT6oNo_0JVfjQeac\",\n
        \ \"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgxeaxmhmCtaMhDmWI14AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:43:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgzFOj2TPnJvWBYK4oF4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:43:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgxhgzwLPlhNGqza79Z4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:43:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgwH9TE0b2yLQZaTGQJ4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"7lI41jziHCHkKvKLccGdY_w6bEs\",\n
        \ \"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=Ugw5EqDNvVlU2nr6dbB4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:43:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgyEDe5lk3vQsyC_53R4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:43:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgwwQPXII__60Q64qqd4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:43:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgzJTfRGLNrvA4t3Yq54AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"JNFVfnIKyxygaG_v1G2zP2aNRH4\",\n
        \ \"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgwbCHHib8v2QrqR4CB4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:43:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgyuNgBCGZxKEEblbW94AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:43:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=Ugz-idZ7P41GKRa4FNF4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "jfpoSAgXgJ7eYGcGJE6w83MDk7o",[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgzimtFMoBwS59vWboB4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:43:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgyDOSYy72B2odsmM8p4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"im41KQes3DfkbbrUzjOX_TGb3xI\",\n
        \ \"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=Ugx0Ms7t3RbN1IRzVWJ4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:43:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=Ugyj6mhzrjH1zJ-wFo94AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 06:43:02 GMT
- request:
    method: get
[...]
