---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YOUTUBE_TOKEN>&order=relevance&part=snippet&videoId=ffff%08
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<html><title>Error 400 (Bad Request)!!1</title></html>"
  recorded_at: Fri, 23 Oct 2020 07:24:16 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=WRONG_TOKEN&order=relevance&part=snippet&videoId=DA8nk83xumg
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT"
          }
        }
  recorded_at: Fri, 23 Oct 2020 07:24:16 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YOUTUBE_TOKEN>&order=relevance&part=snippet&videoId=DA8nk83xumg
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentThreadListResponse\",\n  \"etag\":
        \"AljDDTqDjCKcsp4pWBfMQRXNTMI\",\n  \"nextPageToken\": \"QURTSl9pMzFJWEtKei1Ya0N0WlJCalI1ZkFMc3JYLXJMcFNYU0tmVURoVU5hMGNhcXhrTmo4LXpadWRuM1h0OGJuX3FrZGlmNVZfa0NzbXBXRkM2bXZJYlhwWmJvbHJUNFg0eTdZTERRN3Q4N1JXenpUcUxFNG1LamRBcWVPVjJCWi1Gb3ljc3NPemhrMTdXQUo2NDhuX3U1cGhvVjM5bjNzQzBra29SNWRmMlJGUFZZd0xHZTJFZWpwQ1Z2a3pTVFpadjdaRFluWGhFaEVFRjJEc2l3T1BFTGFCcUlOMERuTEVqZTJWcGRSUTRDU250aDNmNV9jUmpvaGJtOVB2Qk1kRkxIZTExUDdPRTM4MTBmSDM1Z25iWWpGMDVMTkQ2QW9aVEs0c2VzSlA3ZjVSeU9MMmtLNFpGWEo2X21vWnc4d2E1YUZMRg==\",\n
        \ \"pageInfo\": {\n    \"totalResults\": 20,\n    \"resultsPerPage\": 20\n
        \ },\n  \"items\": [\n    {\n      \"kind\": \"youtube#commentThread\",\n
        \     \"etag\": \"3NWE0vBP0A8rO_TD9aGBZpAa7Pk\",\n      \"id\": \"UgwsMowjta0V7XwHkQJ4AaABAg\",\n
        \     \"snippet\": {\n        \"videoId\": \"DA8nk83xumg\",\n        \"topLevelComment\":
        {\n          \"kind\": \"youtube#comment\",\n          \"etag\": \"olGtwZdx0wQlVlXncM6CJGtsnlY\",\n
        \         \"id\": \"UgwsMowjta0V7XwHkQJ4AaABAg\",\n          \"snippet\":
        {\n            \"videoId\": \"DA8nk83xumg\",\n            \"textDisplay\":
        \"奖励在2020年9月仍在听的任何人\",\n            \"textOriginal\": \"奖励在2020年9月仍在听的任何人\",\n
        \           \"authorDisplayName\": \"NEW KKBOX II\",\n            \"authorProfileImageUrl\":
        \"https://yt3.ggpht.com/a/AATXAJy3wS5bCuqNEA5bkXECqL4XjJ-h4sMDrfnJl0YD=s48-c-k-c0xffffffff-no-rj-mo\",\n
        \           \"authorChannelUrl\": \"http://www.youtube.com/channel/UCBm5s_mdyER4bkx8gBRdr-w\",\n
        \           \"authorChannelId\": {\n              \"value\": \"UCBm5s_mdyER4bkx8gBRdr-w\"\n
        \           },\n            \"canRate\": true,\n            \"viewerRating\":
        \"none\",\n            \"likeCount\": 5,\n            \"publishedAt\": \"2020-09-26T08:16:30Z\",\n
        \           \"updatedAt\": \"2020-09-26T08:16:30Z\"\n          }\n        },\n
        \       \"canReply\": true,\n        \"totalReplyCount\": 0,\n        \"isPublic\":
        true\n      }\n    },\n    {\n      \"kind\": \"youtube#commentThread\",\n
        \     \"etag\": \"B8kwNe6IYMqRGjchSbuf5d4Mo7Y\",\n      \"id\": \"UgxuQd1ISLB5JISQndx4AaABAg\",\n
        \     \"snippet\": {\n        \"videoId\": \"DA8nk83xumg\",\n        \"topLevelComment\":
        {\n          \"kind\": \"youtube#comment\",\n          \"etag\": \"bX8AF0jQ8caG637NcDCWfuDrdrE\",\n
        \         \"id\": \"UgxuQd1ISLB5JISQndx4AaABAg\",\n          \"snippet\":
        {\n           [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgwsMowjta0V7XwHkQJ4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 07:24:16 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgxuQd1ISLB5JISQndx4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"7m92MQi0zySPAgx1i-LZ8B08NG4\",\n
        \ \"pageInfo\": {\n    \"resultsPerPage\": 20\n  },\n  \"items\": [\n    {\n
        \     \"kind\": \"youtube#comment\",\n      \"etag\": \"5KMiAwktCbjoQmA5qgXJu69xTW0\",\n
        \     \"id\": \"UgxuQd1ISLB5JISQndx4AaABAg.9DzlHiGvpQa9E8h-z437vW\",\n      \"snippet\":
        {\n        \"textDisplay\": \"厲害厲害\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\",\n
        \       \"textOriginal\": \"厲害厲害\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\U0001F44D\U0001F3FB\",\n
        \       \"parentId\": \"UgxuQd1ISLB5JISQndx4AaABAg\",\n        \"authorDisplayName\":
        \"張語噥\",\n        \"authorProfileImageUrl\": \"https://yt3.ggpht.com/a/AATXAJwxys28PERbzrA4yof7WkaaSglamcOXdhrTdKFwRQ=s48-c-k-c0xffffffff-no-rj-mo\",\n
        \       \"authorChannelUrl\": \"http://www.youtube.com/channel/UCveuRV_jio_ivRlUhUla8sA\",\n
        \       \"authorChannelId\": {\n          \"value\": \"UCveuRV_jio_ivRlUhUla8sA\"\n
        \       },\n        \"canRate\": true,\n        \"viewerRating\": \"none\",\n
        \       \"likeCount\": 7,\n        \"publishedAt\": \"2020-09-28T09:15:52Z\",\n
        \       \"updatedAt\": \"2020-09-28T09:15:52Z\"\n      }\n    }\n  ]\n}\n"
  recorded_at: Fri, 23 Oct 2020 07:24:16 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=Ugyawnge0_pri0GhvRB4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"MkqdsL2h2czmfYqd7b8PY-AxxDA\",\n
        \ \"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgyWDsEX42KEAgUKhBJ4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"m2f0Y8BL9p66oWxhpqr5XigpVlo\",\n
        \ \"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgxeaxmhmCtaMhDmWI14AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 07:24:17 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgzFOj2TPnJvWBYK4oF4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 07:24:17 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgxhgzwLPlhNGqza79Z4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 07:24:17 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgwH9TE0b2yLQZaTGQJ4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"781GPTdrzkJRvnzWPiN7o6yBZUc\",\n
        \ \"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=Ugw5EqDNvVlU2nr6dbB4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 07:24:18 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgyEDe5lk3vQsyC_53R4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 07:24:18 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgwwQPXII__60Q64qqd4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 07:24:18 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgzJTfRGLNrvA4t3Yq54AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"JNFVfnIKyxygaG_v1G2zP2aNRH4\",\n
        \ \"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgwbCHHib8v2QrqR4CB4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 07:24:18 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgyuNgBCGZxKEEblbW94AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 07:24:19 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=Ugz-idZ7P41GKRa4FNF4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "jfpoSAgXgJ7eYGcGJE6w83MDk7o",[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgzimtFMoBwS59vWboB4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 07:24:19 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgyDOSYy72B2odsmM8p4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentListResponse\",\n  \"etag\": \"im41KQes3DfkbbrUzjOX_TGb3xI\",\n
        \ \"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=Ugx0Ms7t3RbN1IRzVWJ4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 07:24:19 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=Ugyj6mhzrjH1zJ-wFo94AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 07:24:19 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?key=<YOUTUBE_TOKEN>&parentId=UgwWdynEWAo1DwpuA_J4AaABAg&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#commentListResponse",
          "etag": "tQ4Fr3MMwNyw2rr39bsG-UM9Wm8",
          "pageInfo": {
            "resultsPerPage": 20
          },
          "items": []
        }
  recorded_at: Fri, 23 Oct 2020 07:24:20 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=DA8nk83xumg&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"FAPwO8WIMQxlqwZMo0X5hX26ij8\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"8QN1hHZm6CRAQxt3SBjxs6_GlPk\",\n      \"id\": \"DA8nk83xumg\",\n      \"snippet\":
        {\n        \"publishedAt\": \"2020-09-24T13:00:12Z\",\n        \"channelId\":
        \"UCveuRV_jio_ivRlUhUla8sA\",\n        \"title\": \"張語噥 Sammy -【我們】《劇集 腦波小姐
        片尾曲》Official MV\",\n        \"description\": \"\U0001F3A7 KKBOX ➡️ https://kkbox.fm/xa5e3m\\n\U0001F3A7
        Spotify ➡️ https://spoti.fi/32WjNZ6\\n\U0001F3A7 All Platforms ➡️ https://www.soundscape.net/a/12164\\n\\n張語噥
        IG ➡️ https://www.instagram.com/sammymimi3/\\n張語噥 FB ➡️ https://www.facebook.com/loveyunung/\\n\\n耗資億萬的跨國製作，近四千顆動畫鏡頭打造出的奇幻世界\\n《腦波小姐》於9/12周六晚八點，中天綜合台播出，愛奇藝台灣站跟播\\n歐陽妮妮首挑大樑，影評一致讚譽\\n張書豪一人分飾多角，精彩可期\\n還有豆花妹、張捷、狄志杰、劉修甫、楊麗音、黃仲崑、陳孝萱、夏靖庭、湯志偉與韓瑜\\n一起演出這榮獲文化部長篇劇本首獎劇本\\n\\n【我們】是一首量身定做的片尾曲。兩個人從「你」、「我」變成「我們」，這樣的關係，到底是朋友、戀人還是[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YOUTUBE_TOKEN>&maxResults=100&order=relevance&part=snippet&videoId=DA8nk83xumg
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentThreadListResponse\",\n  \"etag\":
        \"UdYH2czDfQ[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YOUTUBE_TOKEN>&maxResults=100&order=time&part=snippet&videoId=DA8nk83xumg
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentThreadListResponse\",\n  \"etag\":
        \"X-qyN2g_VAgJPo4[...]
