---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=ffff%08&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<html><title>Error 400 (Bad Request)!!1</title></html>"
  recorded_at: Thu, 07 Jan 2021 08:56:39 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=DA8nk83xumg&key=WRONG_TOKEN&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT"
          }
        }
  recorded_at: Thu, 07 Jan 2021 08:56:39 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=DA8nk83xumg&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"hwfDy1e25CRx6iNq1kU3xe3r4_k\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"Uwx69zGvgPAQ8YRpIRWXXcVgO0g\",\n      \"id\": \"DA8nk83xumg\",\n      \"snippet\":
        {\n        \"publishedAt\": \"2020-09-24T13:00:12Z\",\n        \"channelId\":
        \"UCveuRV_jio_ivRlUhUla8sA\",\n        \"title\": \"張語噥 Sammy -【我們】《劇集 腦波小姐
        片尾曲》Official MV\",\n        \"description\": \"\U0001F3A7 KKBOX ➡️ https://kkbox.fm/xa5e3m\\n\U0001F3A7
        Spotify ➡️ https://spoti.fi/32WjNZ6\\n\U0001F3A7 All Platforms ➡️ https://www.soundscape.net/a/12164\\n\\n張語噥
        IG ➡️ https://www.instagram.com/sammymimi3/\\n張語噥 FB ➡️ https://www.facebook.com/loveyunung/\\n\\n耗資億萬的跨國製作，近四千顆動畫鏡頭打造出的奇幻世界\\n《腦波小姐》於9/12周六晚八點，中天綜合台播出，愛奇藝台灣站跟播\\n歐陽妮妮首挑大樑，影評一致讚譽\\n張書豪一人分飾多角，精彩可期\\n還有豆花妹、張捷、狄志杰、劉修甫、楊麗音、黃仲崑、陳孝萱、夏靖庭、湯志偉與韓瑜\\n一起演出這榮獲文化部長篇劇本首獎劇本\\n\\n【我們】是一首量身定做的片尾曲。兩個人從「你」、「我」變成「我們」，這樣的關係，到底是朋友、戀人還是[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=I_LOVE_IU&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "N3cH4-8Qyt6di3nGkvNQ0-9oBYc",
          "items": [],
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          }
        }
  recorded_at: Thu, 07 Jan 2021 08:56:39 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<YOUTUBE_TOKEN>&maxResults=100&order=time&part=snippet&videoId=DA8nk83xumg
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#commentThreadListResponse\",\n  \"etag\":
        \"R05sS4U4Dzisf9W6Wx179810wMA\",\n  \"nextPageToken\": \"QURTSl9pMEx3VFhjUG5sUWhVN2FTWmFKYnJEV2I1WVVUNUFZajh6NURDT3JDNWp4RVVUV2d3emY3SjVNODctOEZFWXBSZkVNdlFTX1FDZw==\",\n
        \ \"pageInfo\": {\n    \"totalResults\": 100,\n    \"resultsPerPage\": 100\n
        \ },\n  \"items\": [\n    {\n      \"kind\": \"youtube#commentThread\",\n
        \     \"etag\": \"TGcPokzsCKyyZtcS7wwMFib9VIw\",\n      \"id\": \"Ugy9pMSpqv0G2xQZTuJ4AaABAg\",\n
        \     \"snippet\": {\n        \"videoId\": \"DA8nk83xumg\",\n        \"topLevelComment\":
        {\n          \"kind\": \"youtube#comment\",\n          \"etag\": \"EnhV-fMKmsaJpKYikgwsyOUl3qM\",\n
        \         \"id\": \"Ugy9pMSpqv0G2xQZTuJ4AaABAg\",\n          \"snippet\":
        {\n            \"videoId\": \"DA8nk83xumg\",\n            \"textDisplay\":
        \"對於“腦波”，沒有什麼看～\\u003cbr /\\u003e倒是覺得這首歌曲，真地是很、非常不錯～\\u003cbr /\\u003e希望大家，可以、能夠多多的心、眼，寬廣些，並且支持、支援無須在國號中國、中華的政治、教育下，並且實質地、實際地，擁有自己，出彩、亮眼的台灣文化～\\u003cbr
        /\\u003e包括可以、能夠實在、真實的多元融合、自由平等，於古國們、國際各族各地的並非既然國號的政治、教育，其所謂而已的台灣文化～\\u003cbr
        /\\u003e因為可以、能夠正視、無避，並且描述、敘述出來原本、真正的國號明、清之明國、清國（包括它們的官話（清國，是並行兩種語文）、各族各地語文們，以及早就已經不是原本、真正漢族、漢人的所謂漢族、漢人），以及原本、真正的尚未被國號中國化、中華化之福州泉州漳州潮州、所謂客家，還有不只是那種政治及其教育，所謂原住民等等而已的高山族各族、平埔族各族、台灣群島本來就是一直都是西太平洋群島之一，甚至是原本、真正之整體、全部史實的葡萄牙、西班牙、荷蘭、日本、美國、英國、俄羅斯露希亞（RUSSIA）等等的台灣國家、台灣文化，真地才是出彩、亮眼、永恆、絕對，並且不會繼續被特定國號的政治教育、制度文化，所貶損汙蔑、所勢必消滅，而逐漸地，實質、實際衰弱、消失～\\u003cbr
        /\\u003e含還在被偽盡和平和諧、平等平衡、實質實際的漠視各族、各地，自己發展出來之如何、怎麼描述、敘述時空事物的所謂專業人士、人員，貶損汙蔑的台語、台灣話（可以、能夠把任何一個的語文，講、說成為所謂髒話、只剩下隻字片語而已的模樣，並且還得意洋洋、還志得意滿，然後，自以為尊，於特定語文的人們，不是低級下流、偽盡實在真實等等的爛咖、臭咖，是什麼？包括對於俄文、泰文、越南文、土耳其文等等）～\",\n
        \           \"textOriginal\": \"對於“腦波”，沒有什麼看～\\n倒是覺得這首歌曲，真地是很、非常不錯～\\n希望大家，可以、能夠多多的心、眼，寬廣些，並且支持、支援無須在國號中國、中華的政治、教育下，並且實質地、實際地，擁有自己，出彩、亮眼的台灣文化～\\n包括可以、能夠實在、真實的多元融合、自由平等，於古國們、國際各族各地的並非既然國號的政治、教育，其所謂而已的台灣文化～\\n因為可以、能夠正視、無避，並且描述、敘述出來原本、真正的國號明、清之明國、清國（包括它們的官話（清國，是並行兩種語文）、各族各地語文們，以及早就已經不是原本、真正漢族、漢人的所謂漢族、漢人），以及原本、真正的尚未被國號中國化、中華化之福州泉州漳州潮州、所謂客家，還有不只是那種政治及其教育，所謂原住民等等而已的高山族各族、平埔族各族、台灣群島本來就是一直都是西太平洋群島之一，甚至是原本、真正之整體、全部史實的葡萄牙、西班牙、荷蘭、日本、美國、英國、俄羅斯露希亞（RUSSIA）等等的台灣國家、台灣文化，真地才是出彩、亮眼、永恆、絕對，並且不會繼續被特定國號的政治教育、制度文化，所貶損汙蔑、所勢必消滅，而逐漸地，實質、實際衰弱、消失～\\n含還在被偽盡和平和諧、平等平衡、實質實際的漠視各族、各地，自己發展出來之如何、怎麼描述、敘述時空事物的所謂專業人士、人員，貶損汙蔑的台語、台灣話（可以、能夠把任何一個的語文，講、說成為所謂髒話、只剩下隻字片語而已的模樣，並且還得意洋洋、還志得意滿，然後，自以為尊，於特定語文的人們，不是低級下流、偽盡實在真實等等的爛咖、臭咖，是什麼？包括對於俄文、泰文、越南文、土耳其文等等）～\",\n
        \           \"authorDisplayName\": \"徐瑋\",\n            \"authorProfileImageUrl\":
        \"https://yt3.ggpht.com/ytc/AAUvwniI9rCdDt5mfyIpYSaW_E1o87VHZUoJiAvrlWMH=s48-c-k-c0xffffffff-no-rj-mo\",\n
        \           \"authorChannelUrl\": \"http://www.youtube.com/channel/UC9Wksyax4SW4h6z157tE_6Q\",\n
        \           \"authorChannelId\": {\n              \"value\": \"UC9Wksyax4SW4h6z157tE_6Q\"\n
        \           },\n            \"canRate\": true,\n            \"viewerRating\":
        \"none\",\n            \"likeCount\": 1,\n            \"publishedAt\": \"2020-12-31T08:11:10Z\",\n
        \           \"updatedAt\": \"2020-12-31T08:11:10Z\"\n          }\n        },\n
        \       \"canReply\": true,\n        \"totalReplyCount\": 0,\n        \"isPublic\":
        true\n      }\n    },\n    {\n      \"kind\": \"youtube#commentThread\",\n
        \     \"etag\": \"bnJWHk_UTQAlSzSzA1yf3sQaabQ\",\n      \"id\": \"UgyHUS2DwXkkbweho9h4AaABAg\",\n
        \     \"snippet\": {\n        \"videoId\": \"DA8nk83xumg\",\n        \"topLevelComment\":
        {\n          \"kind\": \"youtube#comment\",\n          \"etag\": \"3YP4QyfVyk1dt6dSDlFgvzFi8rc\",\n
        \         \"id\": \"UgyHUS2DwXkkbweho9h4AaABAg\",\n          \"snippet\":
        {\n           [...]
